<footer class="footer-area">
  <div class="container">
    <div class="footer-up">
      <div class="row gy-5">
        <div class="col-lg-3 col-md-6 col-sm-12">
          <div class="logo">
            <img src="/assets/img/logo-white.png" alt="dustrian-logo" />
          </div>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique
            nemo odio soluta dolor magni mollitia maxime libero accusantium,
            pariatur eaque est fuga, asperiores possimus iste aut corporis
            obcaecati, aliquid explicabo.
          </p>
          <div class="social-area">
            <a href=""><i class="bi bi-facebook"></i></a
            ><a href=""><i class="bi bi-twitter-x"></i></a
            ><a href=""><i class="bi bi-skype"></i></a
            ><a href=""><i class="bi bi-whatsapp"></i></a>
          </div>
        </div>
        <div class="col-lg-2 offset-lg-1 col-md-6 com-sm-12">
          <h5>Explore</h5>
          <ul>
            <li>
              <a href="/about" class="">About Company</a
              ><a href="/project" class="">Latest Projects</a
              ><a
                href="/"
                class="router-link-active router-link-exact-active"
                aria-current="page"
                >Get a Quote</a
              ><a href="/price" class="">Pricing Guide</a
              ><a href="/faq" class="">Helpful FAQ</a
              ><a href="/service-1" class="">Services</a>
            </li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
          <h5>Services</h5>
          <ul>
            <li>
              <a href="/service-details" class=""
                ><span>-</span> Construction Engineering</a
              ><a href="/service-details" class=""
                ><span>-</span> Oil &amp; Gas Refinery</a
              ><a href="/service-details" class=""
                ><span>-</span> Mechanical Engineering</a
              ><a href="/service-details" class=""
                ><span>-</span> Chemical Research</a
              ><a href="/service-details" class=""
                ><span>-</span> Civil Engineering</a
              >
            </li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="subscribe-form">
            <h5>Newsletter</h5>
            <p>Sign Up now for latest news update</p>
            <form>
              <input type="email" placeholder="Your email" />
              <button class="btn-fill">Subscribe</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<div class="footer-bottom">
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-lg-6 col-md-6 col-sm-12">
        <p class="copyright-line">© 2024 Dustrian. All rights reserved.</p>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12">
        <p class="privacy">Privacy Policy | Terms &amp; Conditions</p>
      </div>
    </div>
  </div>
</div>
