@if (isVisibleNavheader) {
<div class="header-top">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-12 col-sm-12">
        <div class="contact-info">
          <i class="bi bi-envelope"></i> info&#64;oceansuscorp.com
          <!-- | -->
          <!-- <i class="bi bi-geo-alt"></i> 66, Broklyn St, New York, USA -->
        </div>
      </div>
      <div class="col-lg-6 col-md-12 col-sm-12 text-end">
        <div class="site-info">
          Turning big ideas into great products!
          <div class="social-area">
            <a><i class="bi bi-facebook"></i></a
            ><a><i class="bi bi-twitter-x"></i></a
            ><a><i class="bi bi-linkedin"></i></a
            ><a><i class="bi bi-whatsapp"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
}
<header class="header-area" appNavbarScroll [ngClass]="{ scrolled: scrolled }">
  <div id="sticky-wrapper" class="sticky-wrapper">
    <div class="sticky-area">
      <div class="navigation">
        <div class="container">
          <div class="row d-flex align-items-center">
            <div class="col-lg-3">
              <div class="logo">
                <a aria-current="page" routerLink=""
                  ><img width="200" src="assets\images\osc-logo.png" alt=""
                /></a>
              </div>
            </div>
            <div class="col-lg-6 ps-5">
              <div class="main-menu">
                <nav class="navbar navbar-expand-lg">
                  <!-- <button
                    class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                  >
                    <span class="navbar-toggler-icon"></span
                    ><span class="navbar-toggler-icon"></span
                    ><span class="navbar-toggler-icon"></span>
                  </button> -->
                  <div
                    class="collapse navbar-collapse justify-content-start"
                    id="navbarSupportedContent"
                  >
                    <ul class="navbar-nav">
                      <li class="nav-item">
                        <a routerLink="" class="nav-link active">Home </a>
                      </li>
                      <!-- <li class="nav-item">
                        <a class="nav-link" href="#"
                          >Pages <span class="sub-nav-toggler"></span
                          ><button class="sub-nav-toggler">
                            <i class="fa fa-angle-down"></i></button
                        ></a>
                        <ul class="sub-menu">
                          <li><a href="/about" class="">About us</a></li>
                          <li>
                            <a href="/choose-us" class="">Why Choose Us</a>
                          </li>
                          <li><a href="/team" class="">Our Team</a></li>
                          <li><a href="/price" class="">Pricing</a></li>
                          <li><a href="/faq" class="">FAQ</a></li>
                        </ul>
                      </li> -->
                      <li class="nav-item">
                        <a class="nav-link">Solutions</a>
                      </li>
                      <li class="nav-item">
                        <a routerLink="about-us" class="nav-link">About</a>
                      </li>
                      <li class="nav-item">
                        <a routerLink="contact-us" class="nav-link">Contact</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link">FAQ</a>
                      </li>
                    </ul>
                  </div>
                </nav>
              </div>
            </div>
            <div class="col-lg-3 text-end">
              <div class="header-right-content">
                <a routerLink="contact-us" class="header-btn btn-fill"
                  >Get a Quote</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
