<div class="header-top">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-12 col-sm-12">
        <div class="contact-info">
          <i class="bi bi-envelope"></i> info&#64;dustrian.com |
          <i class="bi bi-geo-alt"></i> 66, Broklyn St, New York, USA
        </div>
      </div>
      <div class="col-lg-6 col-md-12 col-sm-12 text-end">
        <div class="site-info">
          Turning big ideas into great products!
          <div class="social-area">
            <a href=""><i class="bi bi-facebook"></i></a
            ><a href=""><i class="bi bi-twitter-x"></i></a
            ><a href=""><i class="bi bi-skype"></i></a
            ><a href=""><i class="bi bi-whatsapp"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<header class="header-area" appNavbarScroll [ngClass]="{ scrolled: scrolled }">
  <div id="sticky-wrapper" class="sticky-wrapper">
    <div class="sticky-area">
      <div class="navigation">
        <div class="container">
          <div class="row d-flex align-items-center">
            <div class="col-lg-3">
              <div class="logo">
                <a
                  aria-current="page"
                  href="/"
                  class="router-link-active router-link-exact-active navbar-brand"
                  ><img src="assets\images\logo.png" alt=""
                /></a>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="main-menu">
                <nav class="navbar navbar-expand-lg">
                  <button
                    class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                  >
                    <span class="navbar-toggler-icon"></span
                    ><span class="navbar-toggler-icon"></span
                    ><span class="navbar-toggler-icon"></span>
                  </button>
                  <div
                    class="collapse navbar-collapse justify-content-center"
                    id="navbarSupportedContent"
                  >
                    <ul class="navbar-nav m-auto">
                      <li class="nav-item">
                        <a class="nav-link active"
                          >Home <span class="sub-nav-toggler"></span
                          ><button class="sub-nav-toggler">
                            <i class="fa fa-angle-down"></i></button
                        ></a>
                        <!-- <ul class="sub-menu">
                          <li>
                            <a
                              aria-current="page"
                              href="/"
                              class="router-link-active router-link-exact-active"
                              >Home-Main</a
                            >
                          </li>
                          <li>
                            <a href="/index-2" class="">Home-Industry</a>
                          </li>
                          <li>
                            <a href="/index-3" class="">Home-Construction</a>
                          </li>
                        </ul> -->
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#"
                          >Pages <span class="sub-nav-toggler"></span
                          ><button class="sub-nav-toggler">
                            <i class="fa fa-angle-down"></i></button
                        ></a>
                        <ul class="sub-menu">
                          <li><a href="/about" class="">About us</a></li>
                          <li>
                            <a href="/choose-us" class="">Why Choose Us</a>
                          </li>
                          <li><a href="/team" class="">Our Team</a></li>
                          <li><a href="/price" class="">Pricing</a></li>
                          <li><a href="/faq" class="">FAQ</a></li>
                        </ul>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#"
                          >Services <span class="sub-nav-toggler"></span
                          ><button class="sub-nav-toggler">
                            <i class="fa fa-angle-down"></i></button
                        ></a>
                        <ul class="sub-menu">
                          <li>
                            <a href="/service-1" class="">Services-01</a>
                          </li>
                          <li>
                            <a href="/service-2" class="">Services-02</a>
                          </li>
                          <li>
                            <a href="/service-details" class=""
                              >Service Details</a
                            >
                          </li>
                        </ul>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#"
                          >Projects <span class="sub-nav-toggler"></span
                          ><button class="sub-nav-toggler">
                            <i class="fa fa-angle-down"></i></button
                        ></a>
                        <ul class="sub-menu">
                          <li><a href="/project" class="">Projects</a></li>
                          <li>
                            <a href="/project-details" class=""
                              >Project Details</a
                            >
                          </li>
                        </ul>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#"
                          >Blog <span class="sub-nav-toggler"></span
                          ><button class="sub-nav-toggler">
                            <i class="fa fa-angle-down"></i></button
                        ></a>
                        <ul class="sub-menu">
                          <li><a href="/blog" class="">Blog</a></li>
                          <li>
                            <a href="/blog-details" class="">Blog Details</a>
                          </li>
                        </ul>
                      </li>
                      <li class="nav-item">
                        <a href="/contact" class="nav-link">Contact</a>
                      </li>
                    </ul>
                  </div>
                </nav>
              </div>
            </div>
            <div class="col-lg-3 text-end">
              <div class="header-right-content">
                <a href="/contact" class="header-btn btn-fill">Get a Quote</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
